h1 {
  display:flex;
  justify-content: center;
  font-family: "Trebuchet MS";
  font-size: 40px;
  padding: 15px;
  margin: 20px;
  border-style: solid;
  border-width: 10px;
  border-color: #ffffffa8;
  border-radius: 10px;
  background-color: #34a65fab;
  color: white;

}

div[class = 'xmas_entry_list'] {
	justify-content: center;
	display: flex;
  border-radius: 10px;
  background-color: #c7c7c775;
  padding: 10px;
  margin: 19px;
}

label {
	font-family: "Trebuchet MS";
	display: flex;
	justify-content: center;
	margin-top: 20px;
	font-style: 49px;
	color: white;

}

input {
  width: 100%;
  padding: 10px ;
  margin: 10px;
  display: grid;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  justify-content: center;
}

button[class=btn-submit],[class=btn-clear] {
	width: 35%;
  background-color: #34a65fab;
  color: white;
  padding: 10px ;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Trebuchet MS";
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
}



ol li {
	font-family: "Trebuchet MS";
  background: #ff000099;
  padding: 8px 0px 8px 5px;
  margin: 10px 20px;
  color: black;
  border-radius: 5px;
  font-size: 20px;
  color: white;
}

ol div {
	font-family: "Trebuchet MS";
	margin: 12px 20px 10px 20px;
	padding: 0px 5px 25px 6px;
	color: white;
	
}

ol{
  background-color: #c7c7c775;
  padding: 10px 30px;
  margin: 15px 20px;
  border-radius: 5px;

}

ol button {
  background-color: #34A65F;
  color: white;
  padding: 5px ;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Trebuchet MS";
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;

}


body {
  background-image: url('http://pajasevi.github.io/CSSnowflakes/img/background.png');
  background-size: auto;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;


}



/*making snowflakes*/
 .snowflake {
      color: #fff;
      font-size: 1em;
      font-family: Arial;
      text-shadow: 0 0 1px #000;
    }

    @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}




